<section class="row sixteen columns about">
	<article class="row seven columns alpha" style="padding-top:10px;">
		Oleme &uuml;ks tavaline perekond, kes saab aeg-ajalt laup&auml;eva hommikuti &uuml;hes Mustam&auml;e p&auml;ikeselises korteris kokku. Et juttu r&auml;&auml;kida, filosofeerida, laulda, kiluv&otilde;ileibu s&uuml;&uuml;a ja kohvi juua. Selle saateks meeldib osavamatele meist teha k&auml;sit&ouml;&ouml;d: heegeldada, kududa, &otilde;mmelda. Teised, kelle loomingu jaoks on hoole ja armastusega meisterdatud eraldi kast kirjaga "kassi m&auml;nguasjad", kerivad jutul&otilde;nga ja painutavad teadmiste piire. Meile meeldib otsida vastuseid ja leida k&uuml;simusi. M&otilde;nikord teeme asju &uuml;ksteisele, kuid teinekord on t&ouml;&ouml;- ja jutuhoog nii suur, et asju saab rohkem, kui meil endal tarvis.<br />
		<br />
		<br />
		We are an ordinary family that meets every once in a while on a Saturday morning in a sunny apartment in Mustam&auml;e, Tallinn, Estonia. To have a chat, to be philosophical, to sing, to eat sprat sandwiches and drink coffee. The more skillful of us like to accompany that with a little bit of handicraft: crocheting, knitting, sewing. The others, for whose production we have lovingly made a box that says "the cat's toys" on it, work with words and stretch the boundaries of knowledge. We like to look for answers and find questions. Sometimes we make stuff for each other but at other times we end up with more things than we need.
	</article>

	<div class="row four columns trio-singles stitches">
		<%= image_tag("about_vanaema_170.png", class: "about-img", alt: "Vanaema", title: "Vanaema") %><br />
		<%= image_tag("about_tiina_150.png", class: "about-img", alt: "Tiina", title: "Tiina") %><br />
		<%= image_tag("about_kass_130.png", class: "about-img", alt: "Kass", title: "Kass") %>	
	</div>	

	<div class="row four columns trio-unit">
		<%= image_tag("about_trio.png", class: "about-img", alt: "Trio", title: "Trio") %>
	</div>

	<div class="row five columns omega">
		<%= image_tag("name-vanaema.png", class: "name-img", alt: "Vanaema", title: "Vanaema") %><br />
		<%= image_tag("name-tiina.png", class: "name-img", alt: "Tiina", title: "Tiina") %><br />
		<%= image_tag("name-kass.png", class: "name-img", alt: "Kass", title: "Kass") %>
	</div>		
</section><!-- content -->