<%= form_for(@message, :url => product_messages_path) do |f| %>
  <% if @message.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@message.errors.count, "error") %> prohibited this message from being saved:</h2>

      <ul>
      <% @message.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<div class="new-message-subset">
  <div class="field">
    <%= f.label :order, "Tellimus / Order" %>
    <%= f.text_area :order, value: params[:order], rows:5, columns:10 %>
  </div>
  <div class="field">
    <%= f.label :name, "Nimi / Name" %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :email, "E-post / Email" %>
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :telefon, "Telefon / Phone" %>
    <%= f.text_field :telefon %>
  </div>
  <div class="field">
    <%= f.label :address, "Aadress (tänav, linn, riik)" %>
    <%= f.label :address, "Address (street, city, country)" %>
    <%= f.text_area :address, rows:5, columns:10 %>
  </div>
  <div class="actions">
    <%= f.submit "Saada tellimus / Send order" %>
  </div>
</div>

<% end %>
